
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="get">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Đăng ký</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="staticEmail" class="col-form-label">Email</label>
                        <div class="">
                            <input type="text" class="form-control" id="staticEmail" value="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="col-form-label">Mật khẩu</label>
                        <div class="">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="col-form-label">Nhập lại mật khẩu</label>
                        <div class="">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <p>Bạn đã có tài khoản? <a href="" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Đăng nhập</a> </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Đăng ký</button>
                </div>
            </form>
            
        </div>
        
    </div>
</div>